include README.md
include LICENSE
include pyproject.toml
recursive-include scorpion/data *.mtx *.txt *.csv
recursive-exclude scorpion *.bak
recursive-exclude scorpion/tests *
recursive-exclude scorpion/scorpion *
prune scorpion/tests
prune scorpion/scorpion
